<div class="container-fluid form-body">
  <div class="row">
      <div class="form-holder">
          <div class="form-content">
              <div class="form-items">
                  <div class="website-logo-inside">
                      <a href="#">
                          <div class="logo">

                          </div>
                      </a>
                  </div>
                  <h3>WAT WONNI</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <div class="page-links">
                      <a href="login.html" class="active">Login</a><a [routerLink]="['/register']">Register</a>
                  </div>
                  <form [formGroup]="loginForm" (ngSubmit)="tryLogin(loginForm.value)">
                      <div class="form-group label-floating is-empty" [ngClass]="{'has-danger': !loginForm.controls.email.valid && loginForm.controls.email.touched, 'has-success': loginForm.controls.email.valid && loginForm.controls.email.touched}">
                        <input class="form-control" type="email" name="email" formControlName="email" placeholder="E-mail Address" required>
                        <p class="error-text" *ngIf="loginForm.controls.email.hasError('required') && loginForm.controls.email.touched">This field is required!</p>
                        <p class="error-text" *ngIf="loginForm.controls.email.hasError('pattern') && loginForm.controls.email.touched">Email is not valid!</p>
                      </div>


                      <div class="form-group label-floating is-empty" [ngClass]="{'has-danger': !loginForm.controls.password.valid && loginForm.controls.password.touched, 'has-success': loginForm.controls.password.valid && loginForm.controls.password.touched}">
                        <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password" required>
                        <p class="error-text" *ngIf="loginForm.controls.password.hasError('required') && loginForm.controls.password.touched">This field is required!</p>
										  	<p class="error-text" *ngIf="loginForm.controls.password.hasError('pattern') && loginForm.controls.password.touched">Must have at least 1 character and 1 number!</p>
										  	<p class="error-text" *ngIf="loginForm.controls.password.hasError('minlength') && loginForm.controls.password.touched">Must have minimum 6 characters!</p>
										  	<p class="error-text" *ngIf="loginForm.controls.password.hasError('maxlength') && loginForm.controls.password.touched">Maximum characters can be 100!</p>
                      </div>

                    <div class="form-button">
                        <button id="submit" type="submit" class="ibtn">Login</button>
                    </div>
                  </form>

                  <div class="other-links">
                      <span>Or login with</span><a [routerLink]="['/home']">Facebook</a><a href="#">Google</a><a href="#">Linkedin</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

